<%= form_for @user do |form| %>

  <% if @user.errors.any? %>
  <div id="errorExplanation">
    <h3><%= pluralize(@user.errors.count, 'error') %>, couldn't create account:</h3>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name, autofocus: true %>
  </div><br>

  <div>
    <%= form.label :email %><br>
    <%= form.text_field :email %>
  </div><br>

  <div>
    <%= form.label :password %><br>
    <%= form.password_field :password %>
  </div><br>

  <div>
    <%= form.label :password_confirmation %><br>
    <%= form.password_field :password_confirmation %>
  </div><br>

  <div>
    <%= form.submit 'Sign Up' %>
  </div>
<% end %>
