<%= link_to new_post_path do %>
  New post
<% end %>

<% @posts.each do |post| %>
  <p><% post.message.split("\r\n").each do |msg| %>
    <b><%=msg %></b><br>
  <% end %></p>
  by <%= post.user.name %>
  <br>
  <p><%= post.created_at %></p>
  <br>
  <% if post.created_at + 10.minutes > Time.now %>
  <%= link_to "Edit", edit_post_path(post.id) %>
  <% end %>
  <%= link_to "Delete", post_path(post), method: :delete %>

<% end %>


<%# link_to "Add as friend", user_friend_path(current_user, @friend), :method=> :put %>
