<%= link_to new_post_path do %>
  New post
<% end %>

<% @posts.each do |post| %>
  <p><b><%= post.message %></b></p>
  <br>
  <p><%= post.created_at %></p>
  <br>
  <%= link_to "Edit", edit_post_path(post.id) %>
  <%= link_to "Delete", post_path(post), method: :delete %>

<% end %>


<%# link_to "Add as friend", user_friend_path(current_user, @friend), :method=> :put %>
